.App {
    text-align: center;
    background-color: #D5ABAE;
    min-height: 100vh; /*allow full coverage */
    width: 100%;
}

.logo {
    max-height: 15vmin;
    pointer-events: none;
    margin-top: 30px;
    margin-bottom: 15px;
}

.header {
    text-align: center;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: 700;
    color: white;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: #D5ABAE;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 700;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.logout:hover {
    color: #D5ABAE;
    background-color: white;
}