.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ensures equal spacing around items */
    align-items: stretch;
    margin-top: 50px;
    padding: 50px 0; /* Adds space top and bottom */
}

.calendarContainer, .sportsTipsContainer {
    width: 28%;
    height: 350px;
    margin: 10px 5px;
    border: 2px solid white;
    border-radius: 15px;

    /* Remove overflow-y: auto; from here */

    /* Keep these properties */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligned content to start */
    align-items: center;
}

.tableContainer {
    width: 28%;
    height: 350px;
    margin: 10px 5px;
    border: 2px solid white;
    border-radius: 15px;
    overflow-y: auto; /* Overlow stays here */

    /* Keep these properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarContainer {
    background-color: #ead5d6;
}

.tableContainer,
.sportsTipsContainer {
    background-color: #ffffff;
}

.tableContainer table th {
    font-weight: bold;
}

.tableContainer table th,
.tableContainer table td {
    text-align: center;
}