.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ensures equal spacing around items */
    align-items: stretch;
    margin-top: 45px;
    padding: 50px 0; /* Adds space top and bottom */
    flex-direction: row;
    /* background-color: black; */
}

.calendarContainer, .sportsTipsContainer, .tableContainer {
    width: 28%;
    height: max-content;
    margin: 10px 15px; /* Adjusted margins here */
    border-radius: 15px;
    display: flex;
    justify-content: flex-start; /* Aligned content to start */
    align-items: center;
    overflow-y: auto; /* Overflow moved here */
}

/* Specific properties for different containers */

.calendarContainer {
    border: 2px solid white;
    background-color: #ead5d6;
}

.sportsTipsContainer {
    border: 2px solid #ead5d6;
    background-color: #ffffff;
}

.tableContainer {
    border: 2px solid white;
    background-color: #ffffff;
}

.tableContainer table th {
    font-weight: bold;
}

.tableContainer table th, .tableContainer table td {
    text-align: center;
}