<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #D5ABAE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 0;
            margin: 0;
        }

        #LogotitleContainer {
            margin-top: -35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        #LogotitleContainer img {
            width: 20%;
            height: auto;
        }

        #welcomeTitle {
            font-family: 'Lobster', cursive;
            font-size: 2em;
            margin-top: -30px;
            margin-bottom: 35px;
            color: #842029;
        }

        .card {
            background-color: #ead5d6;
            padding: 30px;
            border-radius: 10px;
            width: 70%;
            max-width: 450px;
            box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.07);
            transition: all 0.3s ease-out;
        }

        .card:hover {
            transform: translateY(-2px);
        }

        .btn {
            font-weight: bold;
            letter-spacing: .5px;
            padding: 12px 20px;
            background-color: #b07274 !important;
            border-color: #b07274 !important;
        }

        .btn:hover {
            background-color: #842029 !important;
            border-color: #842029 !important;
        }

        a {
            color: #b07274 !important;
        }

        a:hover {
            color: #842029 !important;
        }
    </style>
</head>
<body>
<div id="LogotitleContainer">
    <img src="/LunaCyclesLogo.png" alt="LunaCyclesLogo">
    <h1 id="welcomeTitle">Welcome to Luna Cycles</h1>
</div>

<div class="card">
    <div class="card-body">
        <form action="/login" method="POST">
            <% if (messages.error) { %>
                <div class="alert alert-danger">
                    <strong><%= messages.error %> </strong>
                </div>
            <% } %>

            <h1 class="mb-3 h3">Login</h1>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" name="email" id="form3Example3" class="form-control"/>
                <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="form3Example4" class="form-control"/>
                <label class="form-label" for="form3Example4">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign In
            </button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Don't have an account yet? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>